/* 
Genereation Country:                          Armenia
Development Langs. (libs, frameworks):        HTML5 / CSS3 / Javasciprt
                                              PHP, C#, Java, Frameworks
Starting Date:                                28.03.2018
Product Name:                                 Ararat
Dev. Type:                                    Framework
Authers:                                      Armenian Developers
*/
